<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>后台数据管理</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
</head>
<body>
<div id="body">
	<navigation></navigation>
	<keep-alive>
		<router-view></router-view>
	</keep-alive>
</div>
<template id="nav">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="#">后台管理</a>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<router-link class="nav-link" to="/user">用户管理</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/comment">评论管理</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/article">文章管理</router-link>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">轮播图管理</a>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/note">更新日志管理</router-link>
				</li>
			</ul>
		</div>
	</nav>
</template>
<template id="user">
	<div class="container">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">用户名</th>
					<th scope="col">密码</th>
					<th scope="col">年龄</th>
					<th scope="col">性别</th>
					<th scope="col">邮箱</th>
					<th scope="col">个性签名</th>
					<th scope="col">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user, index) in users" :key="index">
					<th>{{ index }}</th>
					<th>{{ user.user_name }}</th>
					<th>{{ user.password }}</th>
					<th>{{ user.age }}</th>
					<th>{{ user.sex }}</th>
					<th>{{ user.email }}</th>
					<th>{{ user.sign }}</th>
					<th><a href="#" @click.prevent="delete_user(user.id)">删除</a></th>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<template id="article">
	<div class="container">
		<div class="row">
			<form class="col-10 m-auto">
				<div class="form-group">
					<label>文章标题：</label>
					<input type="text" class="form-control" id="colFormLabelSm1" v-model="title">
				</div>
				<div class="form-group">
					<label>正文：</label>
					<div id="editor"></div>
				</div>
				<button type="submit" class="btn btn-primary" @click="add_article()">提交</button>
			</form>
		</div>
	</div>
</template>
<template id="note">
	<div class="container">
		<div class="row">
			<form class="col-10 m-auto">
				<div class="form-group">
					<label>标题：</label>
					<input type="text" class="form-control" id="colFormLabelSm1" v-model="title">
				</div>
				<div class="form-group">
					<label>内容：</label>
					<input type="text" class="form-control" id="colFormLabelSm1" v-model="title">
				</div>
				<button type="submit" class="btn btn-primary" @click="add_article()">提交</button>
			</form>
		</div>
	</div>
</template>
<template id="comment">
	<div class="container">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">内容</th>
					<th scope="col">时间</th>
					<th scope="col">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(comment, index) in comments" :key="index">
					<th>{{ index }}</th>
					<th>{{ comment.content }}</th>
					<th>{{ comment.ctime | time }}</th>
					<th><a href="#">删除</a></th>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.js"></script>
<script src="/js/vue-router.js"></script>
<script src="../js/main.js"></script>
<script src="../js/wangEditor.js"></script>
<script>
	Vue.filter('time',value => {
		value = new Date(parseInt(value));
		return value.toLocaleDateString() + ' ' + value.getHours() + ':' + value.getMinutes();
	});
	const navigation = {
		template:'#nav',
		data() {
			return {
				
			}
		},
	}
	const user = {
		template:'#user',
		data(){
			return {
				users:''
			}
		},
		created() {
			this.$http.get('users.php',{
				params:{
					flag:'data'
				}
			}).then(Response => {
				this.users = Response.body;
			})
		},
		methods: {
			delete_user(id){
				this.$http.get('users.php',{
					params:{
						id,
						flag:'delete'
					}
				}).then(Response => {
					if(Response.body === '1'){
						alert('删除成功');
					}
				});
			}	
		},
	}
	const comment = {
		template:'#comment',
		data() {
			return {
				comments:''
			}
		},
		created() {
			this.$http.get('comment.php',{
				params: {
					flag: 'data'
				}
			}).then(Response => {
				this.comments = Response.body;
			})
		},
	}
	const article = {
		template:'#article',
		data() {
			return {
				editor:'',
				title:''
			}
		},
		mounted() {
			let E = window.wangEditor;
			this.editor = new E(document.getElementById('editor'));
			this.editor.customConfig.uploadImgServer = '/upload';
			this.editor.create();
		},
		methods: {
			add_article(){
				console.log(this.editor.txt.html());
				this.$http.post('article.php',{
					admin:get_cookie('admin_id'),
					title:this.title,
					content:this.editor.txt.html(),
					ctime:Date.now()
				},{
					emulateJSON:true
				}).then(Response =>{
					if (Response.body === '1') {
						alert('添加成功');
					}
				});
			}
		},
	}
	const note = {
		template:'#note'
	}
	const routes = [
		{path:'/user',component:user},
		{path:'/article',component:article},
		{path:'/note',component:note},
		{path:'/comment',component:comment},
		{path:'/',redirect:'/user'}
	];
	const router = new VueRouter({
		routes,
		linkActiveClass: 'active'
	});
	new Vue({
		el:'#body',
		created() {
			if(get_cookie('admin_id') === 0){
				window.location.href = 'login.html';
			}
		},
		components:{
			navigation
		},
		router
	});
</script>
</body>
</html>